@media (min-width : 699px) and (max-width : 939px) {
img.logo-v {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
}
img.logo-vr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
right: 0;
}
img.logo-vrl {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
right: 0;
}
img.logo-vb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 155px;
}
img.logo-vbb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 155px;
}
img.logo-vbl {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 0;
}
img.logo-vblb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 30px;
}
img.logo-vbr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 0;img.logo-vb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 155px;
}
right: 0;
}
img.logo-vbrb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 30px;
right: 0;
}
img.logo-h {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
}
img.logo-hr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
right: 0;
}
img.logo-hb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
bottom: 0;
}
img.logo-hbb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
bottom: 30px;
}
img.logo-hbl {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
top: 225px;
}
img.logo-hblb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
top: 220px;
}
img.logo-hbr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
bottom: 0;
right: 0;
}
img.logo-hbrb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
bottom: 30px;
right: 0;
}
img.logo-hbrr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
top: 225px;
right: 0;
}
img.logo-hbrrb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
top: 220px;
right: 0;
}
img.logo-hrr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 20%;
right: 0;
}
img.logo-vbrr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 155px;
right: 0;
}
img.logo-vbrrb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 155px;
right: 0;
}
img.logo-vrr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
right: 0;
}
.anythingWindow {
  width: 699px !important;
  height: 100% !important;
  margin: 0 auto;
  position: relative;
}
.anythingSlider .arrow {
  display: block;
  position: absolute;
  z-index: 3;
  top: 196px;
  left: 0;
  width: 45px;
  height: 54px;  
}
.anythingSlider .arrow:after {
  pointer-events: none;
  display: block;
  content: "";
  color: white;
  text-indent: 0;
  font-size: 50px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 30px;
  height: 40px;
  background: transparent url("img/slider-nav.png") top left no-repeat;
  top: 50%;
  left: 40%;
  margin: -17px 0 0 -10px;
  background-size: 60px 36px;
}
video.feature-video.top {
	display: block;
	margin: 0 auto;
	bottom: 0;
	width: 100%;
	height: 100%;
}
video.feature-videos.top {
	display: block;
	float: right;
	bottom: 0;
	width: 100%;
	height: 100%;
}
video.features.top {
	display: block;
	float: left;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
video.feature-video {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
video.feature-videos {
display: block;
width: 100%;
height: 100%;
}
video.features {
display: block;
float: left;
width: 100%;
height: 100%;
}
iframe.feature-video.top {
	display: block;
	margin: 0 auto;
	width: 100%;
}
iframe.feature-videos.top {
	display: block;
	float: left;
	bottom: 0;
	position: relative;
	width: 100%;
}
iframe.features.top {
	display: block;
	float: left;
	bottom: 0px;
	width: 100%;
}
iframe.feature-video {
  display: block;
  margin: 0 auto;
  width: 100%;
}
iframe.feature-videos {
display: block;
float: right;
width: 100%;
}
iframe.features {
display: block;
float: left;
width: 100%;
}
}
@media (max-width: 698px) {
img.logo-v {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
}
img.logo-vr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
right: 0;
}
img.logo-vrl {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
right: 0;
}
img.logo-vb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 30%;
}
img.logo-vbb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 27%;
}
img.logo-vbl {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 0;
}
img.logo-vblb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 27px;
}
img.logo-vbr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 0;
right: 0;
}
img.logo-vbrb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
bottom: 27px;
right: 0;
}
img.logo-h {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
}
img.logo-hr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
right: 0;
}
img.logo-hb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
bottom: 0;
}
img.logo-hbb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
bottom: 27px;
}
img.logo-hbl {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
top: 45%;
}
img.logo-hblb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
top: 35%;
}
img.logo-hbr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
bottom: 0;
right: 0;
}
img.logo-hbrb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
bottom: 27px;
right: 0;
}
img.logo-hbrr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
top: 45%;
right: 0;
}
img.logo-hbrrb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
top: 35%;
right: 0;
}
img.logo-hrr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 17%;
right: 0;
}
img.logo-vbrr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 30%;
right: 0;
}
img.logo-vbrrb {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
top: 27%;
right: 0;
}
img.logo-vrr {
position: absolute;
z-index: 1;
padding: 10px;
width: 14%;
height: auto;
right: 0;
}
iframe.features {
display: block;
float: left;
width: 100%;
height: 100%;
}
iframe.feature-videos {
display: block;
float: right;
width: 100%;
height: 100%;
}
iframe.feature-video {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
iframe.features.top {
	display: block;
	float: left;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
iframe.feature-videos.top {
	display: block;
	float: left;
	bottom: 0;
	position: relative;
	width: 100%;
	height: 100%;
}
iframe.feature-video.top {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
video.features {
display: block;
float: left;
width: 100%;
height: 100%;
}
video.feature-videos {
display: block;
width: 100%;
height: 100%;
}
video.feature-video {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
video.features.top {
	display: block;
	float: left;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
video.feature-videos.top {
	display: block;
	float: right;
	bottom: 0;
	width: 100%;
	height: 100%;
}
video.feature-video.top {
	display: block;
	margin: 0 auto;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.anythingSlider .arrow {
  display: block;
  position: absolute;
  z-index: 3;
  top: 196px;
  left: 0;
  width: 40px;
  height: 48px;
}
.anythingSlider .arrow:after {
  pointer-events: none;
  display: block;
  content: "";
  color: white;
  text-indent: 0;
  font-size: 50px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 30px;
  height: 40px;
  background: transparent url("img/slider-nav.png") top left no-repeat;
  top: 50%;
  left: 40%;
  margin: -16px 0 0 -10px;
  background-size: 60px 32px;
}
}
#slider li {
	visibility: hidden;
}
div.feature-images.top {
	display: block;
}
img.feature-image.top {
	display: block;
	margin: 0 auto;
	bottom: 0px;
	position: relative;
}
iframe.feature-videos.top {
	display: block;
	float: right;
	bottom: 0;
	position: relative;
}
#feature {  
  margin: -1em -5.55% 0;
}
#feature ul {
  list-style: none;
  margin: 0;
  padding-bottom: 20px;
}
#feature li {
  display: none;
}
#feature li.feature {
  display: block;
}
img.feature-image {
  display: block;
  margin: 0 auto;
}
.feature-description {
  margin: 0 5%;
}
.anythingSlider,
.anythingSlider #slider,
.anythingSlider .fade .panel {
  width: 100% !important;
}
#feature .anythingSlider ul {
  padding-bottom: 0;
}
#feature .anythingSlider li {
  display: list-item;
}
.anythingSlider {
  padding-bottom: 20px;
}
.anythingSlider .anythingControls, .anythingSlider .arrow a, .anythingSlider .arrow:after {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 0;
}
.anythingSlider.anythingSlider-hovered .arrow a, .touch .anythingSlider .arrow a {
  opacity: 0;
}
.anythingSlider.anythingSlider-hovered .anythingControls,
.anythingSlider.anythingSlider-hovered .arrow:after, .touch .anythingSlider .anythingControls,
.touch .anythingSlider .arrow:after {
  opacity: 1;
}
.anythingSlider li {
  display: block;
}
.anythingSlider .arrow a {
  text-indent: -999em;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;  
}
.anythingSlider .arrow a:hover {
  text-decoration: none;
  opacity: .25;
}
.anythingSlider .arrow.back a {
  -moz-border-radius-topright: 20%;
  -webkit-border-top-right-radius: 20%;
  border-top-right-radius: 20%;
  -moz-border-radius-bottomright: 20%;
  -webkit-border-bottom-right-radius: 20%;
  border-bottom-right-radius: 20%;
}
.anythingSlider .arrow.forward {
  left: auto;
  right: 0;
}
.anythingSlider .arrow.forward a {
  -moz-border-radius-topleft: 20%;
  -webkit-border-top-left-radius: 20%;
  border-top-left-radius: 20%;
  -moz-border-radius-bottomleft: 20%;
  -webkit-border-bottom-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
.anythingSlider .arrow.forward:after {
  background-position: -30px 0;
}
.anythingSlider .arrow:hover {
  opacity: 1;
}
.anythingControls {
  position: absolute;
  width: 100%;
  bottom: -5px;
  text-align: center;
  display: block;
}
.anythingControls .thumbNav {
  display: inline-block;
  margin: 0 auto;
}
.anythingControls li {
  display: inline-block !important;
  margin: 2px;
}
.anythingControls a, .anythingControls a:visited {
  transition: opacity 0.5s ease;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #E6E6E6;
  text-align: center;
  overflow: hidden;
  color: #E6E6E6;
  opacity: .5;
  border-radius: 50%;
}
.anythingControls a.cur, .anythingControls a:hover {
  color: #808080;
  background-color: #808080;
  opacity: 1;
}

@media (min-width: 600px) {
  #feature {
    margin: -1em -11% 0;
  }     
}

@media (min-width: 940px) {
img.logo-v {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
}
img.logo-vr {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
right: 0;
}
img.logo-vrl {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
right: 0;
}
img.logo-vb {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 0;
}
img.logo-vbb {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 30px;
}
img.logo-vbl {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 0;
}
img.logo-vblb {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 30px;
}
img.logo-vbr {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 0;
right: 0;
}
img.logo-vbrb {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 30px;
right: 0;
}
img.logo-h {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
}
img.logo-hr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
right: 0;
}
img.logo-hb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 0;
}
img.logo-hbb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 30px;
}
img.logo-hbl {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 0;
}
img.logo-hblb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 30px;
}
img.logo-hbr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 0;
right: 0;
}
img.logo-hbrb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 30px;
right: 0;
}
img.logo-hbrr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 0;
right: 25.7%;
}
img.logo-hbrrb {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
bottom: 30px;
right: 25.7%;
}
img.logo-hrr {
position: absolute;
z-index: 1;
padding: 10px;
width: auto;
height: 25%;
right: 25.7%;
}
img.logo-vbrr {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 0;
right: 25.7%;
}
img.logo-vbrrb {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
bottom: 30px;
right: 25.7%;
}
img.logo-vrr {
position: absolute;
z-index: 1;
padding: 10px;
width: 10%;
height: auto;
right: 25.7%;
}
iframe.features {
display: block;
float: left;
}
iframe.feature-videos {
display: block;
float: right;
}
iframe.feature-video {
  display: block;
  margin: 0 auto;
}
iframe.features.top {
	display: block;
	float: left;
	bottom: 0px;
}
iframe.feature-videos.top {
	display: block;
	float: left;
	bottom: 0;
	position: relative;
}
iframe.feature-video.top {
	display: block;
	margin: 0 auto;
	bottom: 0;
	position: relative;
}
video.features {
display: block;
float: left;
}
video.feature-videos {
display: block;
}
video.feature-video {
  display: block;
  margin: 0 auto;
}
video.feature-videos.top {
	display: block;
	float: right;
	bottom: 0;
}
video.feature-video.top {
	display: block;
	margin: 0 auto;
	bottom: 0;
}
.anythingSlider .arrow:after {
  pointer-events: none;
  display: block;
  content: "";
  color: white;
  text-indent: 0;
  font-size: 50px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 30px;
  height: 40px;
  background: transparent url("img/slider-nav.png") top left no-repeat;
  top: 50%;
  left: 40%;
  margin: -20px 0 0 -10px;
}
.anythingSlider .arrow {
  display: block;
  position: absolute;
  z-index: 3;
  top: 196px;
  left: 0;
  width: 50px;
  height: 60px;
}
#feature .feature-image {
	text-align: left;
}
#feature #slider {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 0;
}
.anythingSlider {
    padding-bottom: 20px;
}
.anythingWindow {
    width: 940px !important;
    height: 100% !important;
    margin: 0 auto;
    position: relative;
}
.feature-description a, .feature-description a:link, .feature-description a:visited, .feature-description a:active, .feature-description a:hover, .feature-description a:focus {
    color: #336699;
}  
}
.anythingSlider {
  display: block;
  overflow: visible !important;
  position: relative;
}
/* anythingSlider viewport window */
.anythingSlider .anythingWindow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
/* anythingSlider base (original element) */
.anythingSlider .anythingBase {
  background: transparent;
  list-style: none;
  position: absolute;
  overflow: visible !important;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
/* Navigation arrow text; indent moved to span inside "a", for IE7;
  apparently, a negative text-indent on an "a" link moves the link as well as the text */
.anythingSlider .arrow span {
  display: block;
  visibility: hidden;
}
/* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
.anythingSlider .arrow.disabled {
  display: none;
}
/* all panels inside the slider; horizontal mode */
.anythingSlider .panel {
  background: transparent;
  display: block;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
}
/* vertical mode */
.anythingSlider .vertical .panel {
  float: none;
}
/* fade mode */
.anythingSlider .fade .panel {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* fade mode active page - visible & on top */
.anythingSlider .fade .activePage {
  z-index: 1;
}
/***********************
  RTL STYLING
 ***********************/
/* slider autoplay right-to-left, reverse order of nav links to look better */
.anythingSlider.rtl .anythingWindow {
  direction: ltr;
  unicode-bidi: bidi-override;
}
.anythingSlider.rtl .anythingControls ul {
  float: left;
}
/* move nav link group to left */
.anythingSlider.rtl .anythingControls ul a {
  float: right;
}
/* reverse order of nav links */
.anythingSlider.rtl .start-stop {
  /* float: right; */
}
/* move start/stop button - in case you want to switch sides */
/* probably not necessary, but added just in case */
.anythingSlider,
.anythingSlider .anythingWindow,
.anythingSlider .anythingControls ul a,
.anythingSlider .arrow a,
.anythingSlider .start-stop {
  transition-duration: 0;
  -o-transition-duration: 0;
  -moz-transition-duration: 0;
  -webkit-transition-duration: 0;
}
